.siteFooter {
  background-image: url('../../images/dark-wood.png');
  background-repeat: repeat;
  color: #ffffff;
}

.siteInfo {
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-family: 'Merriweather-Light';
}

.footerBold {
  font-family: 'Merriweather-Bold';
}

h4 {
  font-family: 'Novecento-Bold';
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d99054;
}

.footerContact {
  margin: 1rem 2rem 0 8rem;

  p {
    a {
      text-decoration: none;
      color: #ffffff;
    }
    i {
      font-size: 1.25rem;
      margin-right: 0.5rem;
    }
  }
}

.footerHours {
  margin: 1rem 0 0 4rem;
}

.footerLogo {
  img {
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    margin: 3rem 0 0 18rem;
  }
}

.footerCopy {
  font-family: 'Novecento';
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
  margin-bottom: 0;
}
