.home-hero {
  background: url(../../images/logos/inhabitent-logo-full.svg) no-repeat center,
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../images/home-hero.jpg) no-repeat center/100%;
  width: 100vw;
  height: 100vh;
}
