/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__brand-green;
  text-transform: uppercase;
  margin: 0 0.75rem;
  text-decoration: none;
  font-family: $font__accent;

  &:visited {
    color: $color__brand-green;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__brand-purple;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* Menus */

.navigation-content {
  display: flex;
  align-items: center;
  margin-right: 10rem;

  .main-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.75rem;

    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;

      ul {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        top: $base__space-unit;
        z-index: 99999;

        a {
          width: 200px;
        }
      }
    }
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $color__comment-area;

  .site-branding {
    display: flex;

    a {
      margin-left: 10rem;
    }

    .logo-link {
      height: auto;
      width: 3rem;
    }
  }

  .icon-search {
    color: $color__brand-green;
  }

  .search-form {
    position: relative;

    fieldset {
      border: none;
      padding: 0.35em 0.625em 0.35em 0em;

      .search-submit {
        border: none;
        box-shadow: none;
        padding: 0;
        background: $color__background-body;
      }

      input[type='search'] {
        border: none;
        font-family: $font__accent;
      }
    }
  }

  /* Small menu. */
  .menu-toggle,
  .main-navigation.toggled ul {
    display: flex;
  }

  @media screen and (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
    .main-navigation ul {
      display: flex;
    }
  }

  .comment-navigation,
  .posts-navigation,
  .post-navigation {
    .site-main & {
      margin: 0 0 $base__space-unit;
      overflow: hidden;
    }

    .nav-previous {
      float: left;
      width: 50%;
    }

    .nav-next {
      float: right;
      text-align: right;
      width: 50%;
    }
  }
}
