/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__brand-green;
  text-transform: uppercase;
  margin: 0 0.5rem;
  text-decoration: none;
  font-family: $font__accent;

  &:visited {
    color: $color__brand-green;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__brand-purple;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* Menus */

.main-navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px $color__brand-lightgrey;
  position: absolute;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: $base__space-unit;
      z-index: 99999;

      a {
        width: 200px;
      }
    }
  }
}

.home-logo {
  background: url(../../images/logos/inhabitent-logo-tent.svg) no-repeat top/40%;
  height: auto;
  width: 8rem;
  padding: 0 0 2.5rem 0;
  position: absolute;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: flex;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: flex;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
