/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*      Front page      */

.home-hero {
  background: url(../../images/logos/inhabitent-logo-full.svg) no-repeat center,
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../images/home-hero.jpg) no-repeat center/100%;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.shop-stuff-header,
.inhabitent-journal-header {
  font-family: $font__accent;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 4rem 0;
}

.shop-info {
  display: flex;
  flex-direction: column;
  width: 1120px;
  margin: auto;

  .shop-stuff {
    display: flex;
    justify-content: space-around;
    text-align: center;

    .frontpage-term {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      border: 1px solid $color__brand-lightgrey;
      border-top: 5px solid $color__brand-lightgrey;
      margin: 0 0.75rem;

      img {
        width: 30%;
        margin-top: 1rem;
      }

      p {
        padding: 0 1rem;
      }

      .shop-category-link {
        background: $color__brand-green;
        padding: 0.5rem 0;
        margin: auto;
        margin-bottom: 1rem;
        width: 8rem;

        a {
          color: $color__background-body;
        }
      }

      .shop-category-link:hover {
        background: #1d625d;
        cursor: pointer;
      }
    }

    .frontpage-term:hover {
      border: 1px solid $color__brand-orange;
      border-top: 5px solid $color__brand-orange;
    }
  }
}

.inhabitent-journal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1120px;

  .journal-entry {
    width: 30%;
    margin: auto;
    margin-top: 0;
  }
}

/*      Journal      */

.blog,
.single-post {
  .site-main {
    margin-left: 10rem;
    margin-top: 2.65rem;
    .entry-header {
      position: relative;

      img {
        width: 47.5rem;
        height: auto;
      }

      .entry-title {
        position: absolute;
        top: 0;
        margin-top: 2.5rem;
        padding: 0.25rem 1.75rem 0.25rem 1.75rem;
        max-width: 75%;
        line-height: 1.75;
        font-family: $font__heading;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #ffffff;
        background: $color__brand-green;
        padding: 0.5rem 0 0.5rem 1.5rem;

        a {
          color: #ffffff;
          text-decoration: none;
        }

        a:hover {
          color: $color__brand-yellow;
        }
      }

      .entry-meta {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 2.5rem;
        margin-bottom: 0.35rem;
        font-family: $font__accent;
        text-transform: uppercase;
        color: #ffffff;
        background: $color__brand-green;

        .comments-link {
          a {
            text-decoration: none;
            color: #ffffff;
          }

          a:hover {
            color: $color__brand-yellow;
          }
        }
      }
    }
  }

  .entry-content {
    .read-more {
      font-size: 0.9rem;
      color: $color__journal-read-more;
      border: 1px solid $color__journal-read-more;
      margin: 0;
      padding: 0.75rem 1.5rem;
    }

    .read-more:hover {
      color: $color__background-body;
      background: $color__brand-green;
      border: 1px solid $color__brand-green;
    }
  }
}

/*      About Page      */

.page-template-about {
  .site-content {
    display: block;
    .site-main {
      margin: 0;

      .entry-header {
        .entry-title {
          font-family: $font__heading;
          text-transform: uppercase;
          letter-spacing: 2px;
          background: none;
          font-size: 3rem;
          top: 20rem;
        }
      }

      .entry-content {
        margin: 3rem 20rem;

        h2 {
          text-align: center;
          letter-spacing: 2px;
          font-size: 2rem;
        }
      }
    }
  }
}

/*      Find Us      */

.post-82 {
  margin-left: 10rem;
  .entry-header {
    .entry-title {
      font-family: $font__heading;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 2.25rem;
    }
  }

  .entry-content {
    iframe {
      width: 48rem;
      height: 20rem;
    }
  }
}

/*      Shop Page      */

.post-type-archive-product {
  .site-content {
    display: flex;
    justify-content: center;

    .site-main {
      display: block;
      width: 1120px;

      .page-title {
        text-transform: uppercase;
        font-family: $font__heading;
        font-size: 2.5rem;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 0;
        margin-top: 3rem;
      }

      .product-term {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        border-bottom: 1px dashed $color__brand-lightgrey;

        p {
          margin: 1rem 1rem 3rem 1rem;
        }
      }

      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1.25rem;
        margin-bottom: 4rem;
      }

      article {
        margin: 3rem 0 0 0;

        .entry-header {
          border: 1px solid $color__brand-lightgrey;

          .thumbnail-mask {
            position: relative;
            height: 225px;
            overflow: hidden;
            border-bottom: 5px solid $color__brand-lightgrey;
          }

          a {
            margin: 0;

            img {
              position: absolute;
              transform: scale(0.7) translate(5%, 5%);
              max-width: none;
              top: -45%;
              left: -75%;
            }
          }

          .product-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.25rem 0 1rem 0;
            margin: 0 1rem;

            .entry-title {
              margin: 0;
              font-size: 1.25rem;

              a {
                color: $color__journal-read-more;
                font-family: $font__main;
                font-size: 1rem;
                font-weight: 500;
                text-transform: none;
                margin: 0;
              }
            }
          }
        }
      }

      .entry-content {
        display: none;
      }
    }
  }
}

/*      Product Taxonomy Page      */

.tax-product_type {
  .site-content {
    display: flex;
    justify-content: center;

    .site-main {
      display: block;
      width: 1120px;

      .page-header {
        .taxonomy-description {
          padding: 0 0 1rem 0;
          border-bottom: 1px dashed $color__brand-lightgrey;

          p {
            text-align: center;
          }
        }
      }

      .page-title {
        text-transform: uppercase;
        font-family: $font__heading;
        font-size: 2.5rem;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 0;
        margin-top: 3rem;
      }

      .product-term {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        border-bottom: 1px dashed $color__brand-lightgrey;

        p {
          margin: 1rem 1rem 3rem 1rem;
        }
      }

      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1.25rem;
        margin-bottom: 4rem;
      }

      article {
        margin: 3rem 0 0 0;

        .entry-header {
          border: 1px solid $color__brand-lightgrey;

          .thumbnail-mask {
            position: relative;
            height: 225px;
            overflow: hidden;
            border-bottom: 5px solid $color__brand-lightgrey;
          }

          a {
            margin: 0;

            img {
              position: absolute;
              transform: scale(0.7) translate(5%, 5%);
              max-width: none;
              top: -45%;
              left: -75%;
            }
          }

          .product-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.75rem 0 1rem 0;
            margin: 0 1rem;

            .entry-title {
              margin: 0;
              font-size: 1.25rem;

              a {
                color: $color__journal-read-more;
                font-family: $font__main;
                font-size: 1rem;
                font-weight: 500;
                text-transform: none;
                margin: 0;
              }
            }
          }
        }
      }

      .entry-content {
        display: none;
      }
    }
  }
}

/*      Single Product Page      */

.single-product {
  .site-content {
    display: block;
    width: 1120px;
    margin: auto;

    .widget-area {
      display: none;
    }

    .site-main {
      margin: 4rem 0;

      .type-product {
        display: flex;
        justify-content: space-between;

        .header-wrapper {
          width: 48%;
          .entry-header {
            img {
              width: 100%;
              height: auto;
            }
          }
        }

        .product-content-wrapper {
          width: 48%;

          .entry-title {
            font-family: $font__heading;
            font-size: 2.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $color__brand-orange;
            margin-top: 0;
          }

          .entry-content {
            font-family: $font__accent;
            font-size: 2rem;

            p {
              font-family: $font__main;
              font-size: 1rem;
              line-height: 1.75;
            }
          }

          .social-links {
            button {
              background: $color__background-body;
              box-shadow: none;
              border: 1px solid $color__journal-read-more;
              border-radius: 0;
              padding: 0.75rem 1.5rem;
              text-transform: uppercase;
              font-family: $font__accent;
              font-size: 0.9rem;

              .fab {
                margin-right: 0.25rem;
              }
            }

            button:hover {
              background: $color__brand-green;
              color: $color__background-body;
              border: 1px solid $color__brand-green;
            }
          }
        }
      }

      .navigation {
        display: none;
      }
    }
  }
}

/*      Archive Journal Page      */

.archive-content {
  .site-main {
    margin-left: 10rem;
    margin-top: 2.65rem;

    .page-header {
      .page-title {
        font-family: $font__heading;
        font-size: 2.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0 0 2rem 0;
        padding: 0 0 2rem 0;
        border-bottom: 1px solid $color__brand-lightgrey;
      }
    }

    article {
      margin: 3rem 0;
    }

    .entry-header {
      position: relative;

      img {
        width: 47.5rem;
        height: auto;
      }

      .entry-title {
        position: absolute;
        top: 0;
        margin-top: 2.5rem;
        padding: 0.25rem 1.75rem 0.25rem 1.75rem;
        max-width: 75%;
        line-height: 1.75;
        font-family: $font__heading;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #ffffff;
        background: $color__brand-green;
        padding: 0.5rem 0 0.5rem 1.5rem;

        a {
          color: #ffffff;
          text-decoration: none;
        }

        a:hover {
          color: $color__brand-yellow;
        }
      }

      .entry-meta {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 2.5rem;
        margin-bottom: 0.35rem;
        font-family: $font__accent;
        text-transform: uppercase;
        color: #ffffff;
        background: $color__brand-green;

        .comments-link {
          a {
            text-decoration: none;
            color: #ffffff;
          }

          a:hover {
            color: $color__brand-yellow;
          }
        }
      }
    }
  }

  .entry-content {
    .read-more {
      font-size: 0.9rem;
      color: $color__journal-read-more;
      border: 1px solid $color__journal-read-more;
      margin: 0;
      padding: 0.75rem 1.5rem;
    }

    .read-more:hover {
      color: $color__background-body;
      background: $color__brand-green;
      border: 1px solid $color__brand-green;
    }
  }
}
