/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home-hero {
  background: url(../../images/logos/inhabitent-logo-full.svg) no-repeat center,
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../images/home-hero.jpg) no-repeat center/100%;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.shop-stuff-header,
.inhabitent-journal-header {
  font-family: $font__accent;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 4rem 0;
}

.shop-info {
  display: flex;
  flex-direction: column;
  width: 1120px;
  margin: auto;

  .shop-stuff {
    display: flex;
    justify-content: space-around;
    text-align: center;

    .frontpage-term {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      border: 1px solid $color__brand-lightgrey;
      border-top: 5px solid $color__brand-lightgrey;
      margin: 0 0.75rem;

      img {
        width: 30%;
        margin-top: 1rem;
      }

      p {
        padding: 0 1rem;
      }

      .shop-category-link {
        background: $color__brand-green;
        padding: 0.5rem 0;
        margin: auto;
        margin-bottom: 1rem;
        width: 8rem;

        a {
          color: $color__background-body;
        }
      }
    }

    .frontpage-term:hover {
      border: 1px solid $color__brand-orange;
      border-top: 5px solid $color__brand-orange;
    }
  }
}

.inhabitent-journal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1120px;

  .journal-entry {
    width: 30%;
    margin: auto;
    margin-top: 0;
  }
}

/* Journal */

.blog,
.single-post {
  .site-main {
    margin-left: 10rem;
    margin-top: 2.65rem;
    .entry-header {
      position: relative;

      img {
        width: 47.5rem;
        height: auto;
      }

      .entry-title {
        position: absolute;
        top: 0;
        margin-top: 2.5rem;
        padding: 0.25rem 1.75rem 0.25rem 1.75rem;
        max-width: 75%;
        line-height: 1.75;
        font-family: $font__heading;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #ffffff;
        background: $color__brand-green;
        padding: 0.5rem 0 0.5rem 1.5rem;

        a {
          color: #ffffff;
          text-decoration: none;
        }

        a:hover {
          color: $color__brand-yellow;
        }
      }

      .entry-meta {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 2.5rem;
        margin-bottom: 0.35rem;
        font-family: $font__accent;
        text-transform: uppercase;
        color: #ffffff;
        background: $color__brand-green;

        .comments-link {
          a {
            text-decoration: none;
            color: #ffffff;
          }

          a:hover {
            color: $color__brand-yellow;
          }
        }
      }
    }
  }

  .entry-content {
    .read-more {
      font-size: 0.9rem;
      color: $color__journal-read-more;
      border: 1px solid $color__journal-read-more;
      margin: 0;
      padding: 0.75rem 1.5rem;
    }

    .read-more:hover {
      color: $color__background-body;
      background: $color__brand-green;
      border: 1px solid $color__brand-green;
    }
  }
}

/* About Page */

.page-template-about {
  .site-content {
    display: block;
    .site-main {
      margin: 0;

      .entry-header {
        .entry-title {
          font-family: $font__heading;
          text-transform: uppercase;
          letter-spacing: 2px;
          background: none;
          font-size: 3rem;
          top: 20rem;
        }
      }

      .entry-content {
        margin: 3rem 20rem;

        h2 {
          text-align: center;
          letter-spacing: 2px;
          font-size: 2rem;
        }
      }
    }
  }
}

/* Find Us */

.post-82 {
  margin-left: 10rem;
  .entry-header {
    .entry-title {
      font-family: $font__heading;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 2.25rem;
    }
  }

  .entry-content {
    iframe {
      width: 48rem;
      height: 20rem;
    }
  }
}
