.site-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.widget-area {
  border-left: 1px solid $color__brand-lightgrey;
  margin-left: 4rem;
  font-family: $font__main;

  .widget-title {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .textwidget {
    div {
      margin-top: 1rem;
    }

    a {
      font-family: $font__main;
      text-transform: none;
    }

    span {
      margin-left: 0.5rem;
    }
  }

  .inhabitent-business-hours-class {
    p {
      span {
        font-family: 'Merriweather-Bold';
      }
    }
  }

  .widget_archive {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        a {
          margin: 0;
          font-family: $font__main;
          text-transform: none;
        }
      }
    }
  }

  .widget {
    margin-left: 3rem;
    margin-top: 3rem;
  }
}
